@import 'shared';
.home {
  margin-left: 1.875rem;
}
section {
  padding-bottom: 2rem;
}
.my-button {
  background-color: $primary-color;
  border-color: $primary-color;
  color: white;
}
.text {
  padding-left: 1rem;
  padding-top: 1rem;
  color: $primary-color;
  font-size: 0.875rem;
  float: left;
}
.card-title {
  display: inline;
  padding-top: 1rem;
}
